@import 'common';
// .side {
            //     .map {
            //         .mini_map {
            //             a {
                            
            //             }
            //         }
            //         .adress {
            //             display: flex; flex-flow: row nowrap;
            //             padding: 20px;
            //             p {
            //                 font-size: $subT15;
            //                 color: #707070;
            //                 line-height: 1.5;
            //             }
            //             a {
            //                 font-size: $subC14;
            //                 color: $mainColor-b;
            //                 padding-left: 20px;
            //                 i {
            //                     color: $mainColor-b;
            //                     padding-right: 5px;
            //                 }
            //             }
            //         }
            //     }
            // }
.room_view_box {display: none;}
.service_box {display: none;}
.seller_box {display: none;}
.pay_benefit {display: none;}
main {
    max-width: 1400px; margin: $margin0;
    nav {
        background: #fff;
        position: fixed; z-index: 999;
        width: 1400px;
        .box1 {
            display: flex; flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(235 235 235);
            .main_menu {
                display: flex; flex-flow: row nowrap;
                align-items: center;
                .main_move {
                    color: $mainColor-b;
                    border-bottom: 2px solid $mainColor-b;
                }
                .move {
                    color: #707070;
                }
                a {
                    font-size: $defalt16; font-weight: $weight600;
                    padding: 24px 16px;
                }
            }
            .select {
                width: 125px;
                background: $mainColor-b;
                border-radius: 8px;
                padding: 10px 15px;
                text-align: center;
                #select_room {
                    color: #fff;
                    font-size: $subC14;
                }
            }
        }
    }
    section {
        .room {
            .photo {
                display: flex; flex-flow: row nowrap;
                align-items: center;
                position: relative;
                padding: 40px 0;
                .main_photo {
                    padding-right: 8px;
                    img {
                        width: 640px; height: 512px;
                    }
                }
                .sub_photo {
                    .top_photo {
                        padding-bottom: 5px;
                        .photo1 {
                            padding-right: 5px;
                            img {
                                width: 272px; height: 252px;
                            }
                        }
                        .photo2 {
                            img {
                                width: 272px; height: 252px;
                            }
                        }
                    }
                    .btm_photo {
                        .photo3 {
                            padding-right: 5px;
                            img {
                                width: 272px; height: 252px;
                            }
                        }
                        .photo4 {
                            img {
                                width: 272px; height: 252px;
                            }
                        }
                    }
                }
                .more_photo {
                    position: absolute; right: 240px; bottom: 70px;
                    font-size: $subC14;
                    color: #333;
                    background: #fff;
                    padding: 10px 20px;
                    border-radius: 25px;
                    box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.5);
                    i {
                        width: 16px;
                        margin-right: 5px;
                    }
                }
            }
            .box2 {
                display: flex; flex-flow: row nowrap;
                .contents {
                    display: flex; flex-flow: column nowrap;
                    justify-content: space-between;
                    width: 100%;
                    .title_wrap {
                        .title {
                            .type {
                                display: flex; flex-flow: row nowrap;
                                align-items: center;
                                span {
                                    font-size: $defalt16; font-weight: $weight600;
                                    color: #49627A;
                                }
                                img {
                                    width: 59px;
                                }
                            }
                        }
                        .hotel_name {
                            font-size: $title32; font-weight: $weight700;
                            color: #333;
                            padding-bottom: 25px;
                        }
                        .review_wrap {
                            display: flex; flex-flow: row nowrap;
                            .point_wrap {
                                i {
                                    color: rgb(255, 173, 10);
                                    padding-right: 5px;
                                }
                                span {
                                    font-size: $defalt16;
                                    color: #333;
                                    font-weight: $weight700;
                                    padding-right: 5px;
                                }
                            }
                            .review {
                                font-size: $defalt16; font-weight: $weight700;
                                color: #999;
                                padding-right: 10px;
                            }
                            .all_review {
                                font-size: $defalt16; font-weight: $weight600;
                                color: $mainColor-b;
                            }
                        }
                    }
                    .review_box {
                        border-bottom: 1px solid #ebebeb;
                        .thum_review {
                            display: flex;
                            #thum_review_contents {}
                            .swiper-container {
                                .swiper-wrapper {
                                    display: flex;
                                    padding: 20px; 
                                    .detail_review1 {}
                                    .swiper_slide {
                                        background: #FAFAFA;
                                        padding: 20px 22px 20px 20px;
                                        border-radius: 15px;
                                        text-align: right;
                                        i {
                                            font-size: $title24;
                                            color: rgb(188, 196, 204);
                                            padding-right: 10px;
                                        }
                                        p {
                                            font-size: $subT15; 
                                            color: #707070;
                                            padding-bottom: 10px;
                                        }
                                        span {
                                            font-size: $defalt16;
                                            color: #333;
                                            em {
                                                font-size: $small11;
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                            }
                            .swiper_prev {
                                i {}
                            }
                            .swiper_next {
                                i {}
                            }
                        }
                    }
                    .additional_service {
                        padding: 20px 0;
                        border-bottom: 1px solid #ebebeb;
                        .title {
                            display: flex; flex-flow: row nowrap;
                            align-items: center; justify-content: space-between;
                            .additonal {
                                font-size: $title18;
                                color: #333;
                            }
                            .more_service {
                                padding-left: 10px;
                                font-size: $subC14;
                                color: $mainColor-b;
                                i {
                                    margin-left: 5px;
                                }
                            }
                        }
                        .service {
                            display: flex; flex-flow: column nowrap;
                            .top {
                                display: flex; flex-flow: row nowrap;
                                padding-top: 20px;
                                p {
                                    display: flex;
                                    padding-bottom: 10px;
                                    img {
                                        width: 20px                                
                                    }
                                    span {
                                        font-size: $subT15; font-weight: $weight500;
                                        color: #707070;
                                        padding: 0 5px 0 10px;
                                    }
                                }
                            }
                            .btm {
                                display: flex; flex-flow: row nowrap;
                                p {
                                    display: flex;
                                    img {
                                        width: 20px
                                    }
                                    span {
                                        font-size: $subT15; font-weight: $weight500;
                                        color: #707070;
                                        padding: 0 5px 0 10px;
                                    }
                                }
                            }
                        }
                    }
                    .detail_page {
                        text-align: center;
                        border-bottom: 1px solid #ebebeb;
                        .label {
                            padding: 50px 0 10px 0; 
                            img {}
                        }
                        .black {
                            font-size: $subC14; font-weight: $weight600;
                            color: #000;
                            padding: 0 0 10px 0;
                        }
                        h1 {
                            font-size: $title24; font-weight: $weight700;
                            color: #333;
                            padding: 24px 0;
                        }
                        .img {
                            padding: 30px 0;
                            position: relative;
                            img {
                                width: 588px;
                                border-radius: 10px;
                            }
                            .first_img {
                                text-align: left;
                                font-size: $defalt16; font-weight: $weight600;
                                color: #fff;
                                line-height: 1.5;
                                letter-spacing: 1.2px;
                                position: absolute; left: 250px; bottom: 60px;
                            }
                            .second_img {
                                text-align: left;
                                font-size: $defalt16; font-weight: $weight600;
                                color: #fff;
                                line-height: 1.5;
                                letter-spacing: 1.2px;
                                position: absolute; left: 250px; bottom: 60px;
                            }
                            .third_img {
                                text-align: left;
                                font-size: $defalt16; font-weight: $weight600;
                                color: #fff;
                                line-height: 1.5;
                                letter-spacing: 1.2px;
                                position: absolute; left: 250px; bottom: 60px;
                            }
                        }
                    }
                    .room_type {
                        border-bottom: 1px solid #ebebeb;
                        padding: 30px 0;
                        .select {
                            font-size: $title18; font-weight: $weight600;
                            color: #333;
                            padding-bottom: 20px;
                        }
                        .box3 {
                            .item {
                                background: #F5F7FA;
                                padding: 30px;
                                border-radius: 10px;
                                display: flex; flex-flow: row nowrap;
                                .join_view {
                                    img {
                                        width: 250px; height: 250px;
                                        border-radius: 5px;
                                    }
                                }
                                .item_type {
                                    width: 100%;
                                    display: flex; flex-flow: column nowrap;
                                    padding-left: 30px;
                                    .room {
                                        font-size: $title20; font-weight: $weight700;
                                        color: #333;
                                        padding-bottom: 10px;
                                    }
                                    .more_info {
                                        text-align: right;
                                        color: $mainColor-b;
                                        font-size: $subC14; font-weight: $weight600;
                                        padding-bottom: 20px;
                                        i {}
                                    }
                                    .item_price {
                                        display: flex; flex-flow: row nowrap;
                                        justify-content: space-between;
                                        width: 100%;
                                        background: #fff;
                                        color: #fff;
                                        padding: 30px;
                                        border-radius: 8px;
                                        .left {
                                            position: relative;
                                            i {
                                                color: #707070;
                                                font-size: $small12;
                                                padding-right: 10px;
                                                position: absolute; left: -20px; top: 2px;
                                            }
                                            p {
                                                font-size: $small12;
                                                color: #707070;
                                                padding-bottom: 5px;
                                            }
                                        }
                                        .right {
                                            .price {
                                                font-size: $title18; font-weight: $weight600;
                                                color: #333;
                                                padding-bottom: 10px;
                                                em {
                                                    font-size: $subT15; font-weight: $weight600;
                                                    color: #333;
                                                }
                                            }
                                            .item_reservation {
                                                font-size: $small12; font-weight: $weight600;
                                                color: #fff;
                                                padding: 9px 12px;
                                                background: $mainColor-b;
                                                border-radius: 6px;
                                            }
                                        }
                                    }
                                    .item_info {
                                        display: flex; flex-flow: row nowrap;
                                        justify-content: space-between;
                                        width: 100%;
                                        background: #fff;
                                        color: #fff;
                                        padding: 30px;
                                        margin-top: 10px;
                                        border-radius: 8px;
                                        span {
                                            font-size: 0.625rem; 
                                            color: #707070;
                                        }
                                    }
                                }
                            }
                            .is_soldout {
                                display: none;
                                    text-align: center;
                                    padding: 50px 60px;
                                    background: #f5f7fa;
                                    margin: 20px 0;
                                    border-radius: 10px;
                                p {
                                    i {
                                        font-size: 2.25rem;
                                        color: rgb(194, 194, 194);;
                                    }
                                }
                                .soldout {
                                    font-size: $title20; font-weight: 700;
                                    color: #707070;
                                    padding: 10px 0;
                                }
                                .re_search {
                                    font-size: $subC14;
                                    color: #999;
                                    padding-bottom: 30px;
                                }
                                .scedule {
                                    background: #fff;
                                    font-size: $subC14;
                                    color: #333;
                                    padding: 10px 35px;
                                    border-radius: 8px;
                                    border: 1px solid rgb(235 235 235);
                                }
                            }
                        }
                    }
                    .room_intro {
                        border-bottom: 1px solid #ebebeb;
                        padding: 30px 0;
                        h2 {
                            font-size: $title18; font-weight: $weight700;
                            color: #333;
                        }
                        i {
                            font-size: $subC14;
                            color: rgb(225, 225, 225);
                            padding: 10px 0;
                        }
                        p {
                            font-size: $subT15;
                            color: #707070;
                            line-height: 1.5;
                        }
                        i[class*=rotate] {
                            display: flex;
                        }
                    }
                    .room_use {
                        border-bottom: 1px solid #ebebeb;
                        padding: 30px 0;
                        h2 {
                            font-size: $title18; font-weight: $weight700;
                            color: #333;
                            padding-bottom: 30px;
                        }
                        dl {
                            dt {
                                font-size: $subT15; font-weight: $weight600;
                                color: #49627A;
                                padding: 20px 0;
                            }
                            dd {
                                font-size: $subT15;
                                color: #707070;
                                padding: 5px;
                                em {
                                    font-size: $subT15;
                                    color: $mainColor-r;
                                }
                                span {
                                    font-size: $subT15; font-weight: $weight600;
                                    color: #707070;
                                }
                            }
                        }
                    }
                    .cancel {
                        border-bottom: 1px solid #ebebeb;
                        padding: 30px 0;
                        h2 {
                            font-size: $title18; font-weight: $weight700;
                            color: #333;
                            padding-bottom: 30px;
                        }
                        p {
                            font-size: $subT15; font-weight: $weight600;
                            color: #707070;
                        }
                    }
                    .seller_info {
                        border-bottom: 1px solid #ebebeb;
                        padding: 30px 0;
                        display: flex; flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-between;
                        h2 {
                            font-size: $title18; font-weight: $weight700;
                            color: #333;
                        }
                        .seller {
                            i {
                                font-size: $title20;
                                color: rgb(194, 194, 194);
                            }
                        }
                    }
                }
                .side {
                    width: 400px;
                    margin: $margin0;
                    padding-left: 50px;
                    .map {
                        margin-bottom: 20px;
                        .mini_map {
                            border: 1px solid rgb(235 235 235);
                            border-radius: 10px;
                            .in_map {
                                position: relative;
                                span {
                                    content: ''; display: inline-block;
                                    background-image: url(../images/detail/mini_map.png);
                                    background-repeat: no-repeat;
                                    background-position: right;
                                    background-size: cover;
                                    width: 350px; height: 140px;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    position: sticky;                                    
                                }
                                .pin {
                                    width: 30px;
                                    position: absolute; right: 42%; bottom: 65px;
                                }
                                i{
                                    background: #fff;
                                    border-radius: 50%;
                                    border: 1px solid rgb(235 235 235);
                                    padding: 7px;
                                    position: absolute; right: 30px; bottom: 25px;
                                }
                                .naver_logo {
                                    position: absolute; right: 10px; bottom: 10px;
                                }
                                
                            }
                            .address {
                                width: 350px;
                                display: flex; flex-flow: row nowrap;
                                justify-content: space-between;
                                padding: 20px;
                                p {
                                    font-size: $subT15;
                                    color: #707070;
                                    line-height: 1.5;
                                }
                                a {
                                    font-size: $subT15;
                                    color: $mainColor-b;
                                    i {padding-right: 5px;}
                                }
                            }
                        }
                    }
                    .event_pay {
                        width: 350px;
                        border: 1px solid rgb(235 235 235);
                        border-radius: 10px;
                        position: fixed;
                        #event_bnr {
                            text-align: center;
                            padding: 20px;
                            .event_title {
                                width: 300px;
                                display: flex; flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;
                                padding: 15px 0;
                                border-bottom: 1px solid rgb(235 235 235);
                                h2 {
                                    font-size: $subT15; 
                                    color: #000;
                                    em {
                                        font-size: $subT15; font-weight: $weight700;
                                        color: $mainColor-r;
                                    }
                                }
                                .coupon_get {
                                    background: $mainColor-b;
                                    border-radius: 10px;
                                    color: #fff;
                                    padding: 9px 8px 9px 12px;
                                    font-size: $small12;
                                    i {
                                        font-size: $small12;
                                        margin-left: 3px;
                                    }
                                }
                            }
                            .event_slide {
                                padding: 20px 0;
                                border-bottom: 1px solid rgb(235 235 235);
                                .event_slide1 {
                                    img {
                                        width: 300px;
                                        border-radius: 10px;
                                    }
                                }
                                .event_slide2 {
                                    img {
                                        display: none;
                                        height: 120px;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                        .pay {
                            .title {
                                display: flex; flex-flow: row nowrap;
                                align-items: center;
                                justify-content: space-between;
                                padding: 20px;
                                h2 {
                                    font-size: $title18; font-weight: $weight600;
                                    color: #333;
                                }
                                .more_benefit {
                                    font-size: $subC14;
                                    color: $mainColor-b;
                                    i {
                                        font-size: $subC14;
                                        color: $mainColor-b;
                                    }
                                }
                            }
                            .pay_detail {
                                display: flex; flex-flow: column nowrap;
                                padding: 10px 20px 20px 20px;
                                p {
                                    display: flex; align-items: center;
                                    font-size: $subT15;
                                    padding: 0 10px 20px 5px;
                                    img {
                                        width: 70px;
                                    }
                                }
                                span {
                                    font-size: $subT15;
                                    line-height: 1.5;
                                    em {
                                        font-size: $subT15;
                                        font-weight: $weight600;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}