* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  width: 1080px;
  background-color: #F2F2F2;
}
main .container {
  margin-bottom: 96px;
  position: relative;
}
main .container .nav {
  position: sticky;
  top: 0;
  padding: 36px 0 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 999;
}
main .container .nav .close i[class*=arrow] {
  margin-right: 12px;
  height: 29px;
  width: 29px;
  line-height: 29px;
  font-size: 1.2rem;
}
main .container .nav span {
  font-size: 1.5rem;
  font-weight: 700;
}
main .container .wrap .bg {
  font-size: 0;
  text-decoration: none;
  margin: 0;
}
main .container .wrap .bg .photo {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
main .container .wrap .bg .photo img {
  vertical-align: top;
  margin-right: 0;
}
main .container .wrap .bg .popup {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-size: initial;
  vertical-align: top;
}
main .container .wrap .bg .popup .all_doun {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}
main .container .wrap .bg .popup .all_doun img {
  display: inline-block;
  vertical-align: middle;
}
main .container .wrap .bg .popup .popup_bg {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.48);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
main .container .wrap .bg .popup .popup_bg .contents {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 335px;
  max-height: 419.5px;
  padding: 28px 20px 20px;
  text-align: left;
}
main .container .wrap .bg .popup .popup_bg .contents .text h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
main .container .wrap .bg .popup .popup_bg .contents .text p {
  font-size: 0.875rem;
  margin-bottom: 24px;
}
main .container .wrap .bg .popup .popup_bg .contents .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .wrap .bg .popup .popup_bg .contents .btn button {
  padding: 10px 18px;
  width: calc(50% - 5px);
  cursor: pointer;
  height: 48px;
  border-radius: 10px;
  text-align: center;
}
main .container .wrap .bg .popup .popup_bg .contents .btn .close {
  background-color: #ebebeb;
}
main .container .wrap .bg .popup .popup_bg .contents .btn .coupon_down {
  background-color: #1273e4;
  color: #fff;
}
main .container .wrap .bg a {
  display: block;
  text-decoration: none;
  outline: none;
  height: 100%;
}
main .container .wrap .bg a img {
  display: inline-block;
  vertical-align: middle;
}
main .container .wrap .bg .footer {
  background-color: #393939;
  color: #fff;
}
main .container .wrap .bg .footer .footer_contents {
  padding: 0 5.6% 22px 5.6%;
}
main .container .wrap .bg .footer .footer_contents .info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 5.5px;
  margin-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
main .container .wrap .bg .footer .footer_contents .info span {
  color: #fff;
  font-size: 1rem;
  padding: 2px 10px 0 5px;
}
main .container .wrap .bg .footer .footer_contents .info img {
  width: 16px;
}
main .container .wrap .bg .footer .footer_contents .info img:last-child {
  width: 12px;
}
main .container .wrap .bg .footer .footer_contents .box {
  padding-bottom: 63px;
}
main .container .wrap .bg .footer .footer_contents .box ul {
  margin: 11px 0 30px;
}
main .container .wrap .bg .footer .footer_contents .box ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-align: left;
  margin-bottom: 5.5px;
  font-size: 0.875rem;
}
main .container .wrap .bg .footer .footer_contents .box ul li::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 2px;
  margin-right: 10px;
}
main .container .wrap .bg .footer .footer_contents .box h3 {
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
  margin: 13px 0 8px;
  padding: 0 9px;
  font-size: 0.875rem;
}
main .container .wrap .bg .footer .footer_contents .box h3::before {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #fff;
  margin-right: 3px;
}
main .container .wrap .bg .footer .footer_contents .box h3::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #fff;
  margin-left: 3px;
}

@media screen and (max-width: 1199px) {
  main {
    max-width: 1200px;
  }
}
@media screen and (max-width: 899px) {
  main {
    max-width: 900px;
  }
}
@media screen and (max-width: 599px) {
  main {
    max-width: 600px;
  }
}/*# sourceMappingURL=event_new_year.css.map */