* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

main {
  max-width: 1080px;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
main .container {
  background-color: #F2F2F2;
  margin-bottom: 96px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .nav {
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 36px 0 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 999;
}
main .container .nav .close i[class*=arrow] {
  margin-right: 12px;
  height: 29px;
  width: 29px;
  line-height: 29px;
  font-size: 1.2rem;
}
main .container .nav span {
  font-size: 1.5rem;
  font-family: PretendardBold;
}
main .container .contents {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .top {
  position: relative;
  top: 4px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .top img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .time {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-color: #ff7574;
  padding: 49px 0;
}
main .container .contents .time .center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
main .container .contents .time .center .clock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .container .contents .time .center .clock .box {
  position: relative;
  max-height: 90px;
  max-width: 20px;
  margin: auto;
  height: auto;
}
main .container .contents .time .center .clock .box .clock_name {
  position: relative;
  top: -65px;
  transform: translateX(50%);
  text-align: center;
  color: #fff;
  font-size: 0.938rem;
  text-transform: uppercase;
  background-color: transparent;
}
main .container .contents .time .center .clock .box .display {
  position: relative;
  left: 5px;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
}
main .container .contents .time .center .clock .box .clock_top {
  top: 13px;
}
main .container .contents .time .center .clock .box .clock_bottom {
  bottom: 27px;
}
main .container .contents .time .center .clock ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .time .center .clock ul li {
  font-size: 4.375rem;
  color: #fff;
  background-color: #E55B5D;
  font-weight: 200;
  width: 60px;
  height: 90px;
  line-height: 90px;
  margin: 5px;
  border-radius: 6px;
  outline: 1px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
main .container .contents .time .center .day .box .clock_name {
  right: -70px;
}
main .container .contents .time .center .day .box .display {
  background-color: #ff7574;
}
main .container .contents .time .center .hours .box .clock_name {
  right: -67px;
}
main .container .contents .time .center .minutes .box .clock_name {
  right: -60px;
}
main .container .contents .time .center .seoonds .box .clock_name {
  right: -55px;
}
main .container .contents .photo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background: #F2F2F2;
  width: 1080px;
  right: -7px;
}
main .container .contents .photo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .swiper-container {
  max-width: 1080px;
  max-height: 100%;
  width: auto;
  height: auto;
  background-color: #F2F2F2;
  overflow: hidden;
}
main .container .contents .swiper-container .swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .swiper-container .swiper-wrapper .swiper-slide a {
  display: inline-block;
  background-color: #F2F2F2;
}
main .container .contents .swiper-container .swiper-wrapper .swiper-slide a img {
  width: 657.5px;
  margin-right: 15px;
}
main .container .contents .coupon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  background-color: #F2F2F2;
  padding-top: 30px;
  display: inline-block;
}
main .container .contents .coupon a {
  display: inline-block;
  text-decoration: none;
}
main .container .contents .coupon img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .footer {
  background-color: #393939;
  color: #fff;
  font-size: 0.688rem;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .footer img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .footer .footer_contents {
  padding: 0 5.6% 22px 5.6%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
main .container .contents .footer .footer_contents .info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 18px 5.5px;
  margin-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
main .container .contents .footer .footer_contents .info span {
  color: #fff;
  font-size: 1rem;
  padding: 2px 10px 0 5px;
}
main .container .contents .footer .footer_contents .info img {
  width: 16px;
}
main .container .contents .footer .footer_contents .info img:last-child {
  width: 12px;
}
main .container .contents .footer .footer_contents .box {
  padding-bottom: 63px;
}
main .container .contents .footer .footer_contents .box ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-align: left;
  margin-bottom: 5.5px;
  font-size: 0.875rem;
}
main .container .contents .footer .footer_contents .box ul li::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 2px;
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  main {
    margin: 0 auto;
    max-width: 1200px;
  }
  main .container {
    width: 100%;
    margin: 0 auto;
  }
  main .container time {
    max-width: 540px;
  }
}/*# sourceMappingURL=event_best_sole.css.map */