@import 'common';

footer {
    background:#fafafa;
    .footer_wrap {
        margin:$margin0; max-width: $desktop;
        padding:40px 80px;
        .footer_wrap_top {
            display:flex; flex-flow:row wrap;
            align-items:flex-start;
            margin-bottom:30px;
            .wrap_top_left {
                width:40%;
                P {margin-bottom:15px;}
                p:nth-child(1) {
                    font-size:$title18; color:#707070;
                    font-family:PretendardSemiBold;
                }
                p:nth-child(2) {
                    font-size:$subC14; color:#999;
                    margin-bottom:30px;
                }
                .call {
                    border:2px solid #ededed; background-color:#fff;
                    border-radius:10px; padding:12px 17px;
                    display: inline-block;
                    i {color:#999; margin-right:5px;}
                    span {letter-spacing:0.8px; font-family:PretendardMedium;}
                }
                .call:hover {background-color:#f5f5f5;}
            }
            .wrap_top_right {
                display:flex; flex-flow: row wrap;
                justify-content:space-between;
                width:60%;
                dl {
                    min-width: calc(100% / 3);
                    dt {
                        color:#707070; margin-bottom:15px;
                        font-family:PretendardSemiBold;
                    }
                    dd {
                        @include flex-cncf;
                        a {
                            font-size:$subC14;
                            color:#999; margin-bottom:10px;
                        }
                        a:hover {color:#bbbbbb; text-decoration:underline;}
                    }
                }
                dl:first-child {margin-bottom: 30px;}
                dl:last-child {margin: 0;}
            }
        }
        .footer_wrap_bottom {
            .company_box {
                margin-bottom:30px;
                .company_info {
                    margin-bottom:30px;
                    address {
                        color:#999; font-size:$small12;
                        line-height:1.4;
                    }
                }
                .companyagree_sns {
                    @include flex-rnsc;
                    .agree {
                        a {
                            font-size:$subC14; color:#999;
                            margin-right:10px;
                            em {font-size:$subC14;}
                            em:hover {color:#999; text-decoration:underline;}
                        }
                        a:hover {color:#bbbbbb; text-decoration:underline;}
                    }
                    .sns {
                        a {
                            margin-left:7px;
                            i {color:#999; font-size:32px;}
                        }
                    }
                }
            }
            .capyright {
                p {font-size:$small12; color:#999;}
            }
        }
    }
}

@media screen and (max-width:1399px){
}
@media screen and (max-width:1200px){
    .wrap_top_right dl {width: 50%;}
}
@media screen and (max-width:900px){
    .footer_wrap {padding: 40px 20px 64px !important;}
    .wrap_top_left {width: 100% !important;}
    .wrap_top_right dl {width: 100%;}
    .wrap_top_right .company {margin-top: 30px;}
    .wrap_top_right .service {margin-bottom: 30px;}
    .call {width: 50%; text-align: center;}

}
@media screen and (max-width:600px){
}
@media screen and (min-width:320px){}