@import 'common';

.hide {display: none !important;}
header {
    max-width: 1400px; margin:0 auto; padding: 0 30px; 
    background-color:#fff; height:75px;
    .header_wrap {
        width: 100%;
        padding:17px 0;
        @include flex-rnsc;
        h1 {
            a {}
            img {}
        }
        nav {
            display:flex; flex-flow:row nowrap;
            position: relative;
            .kr_travel {
                display:flex; flex-flow:column nowrap; align-items:center;
                h2 {margin-right:10px; padding:20px; cursor:pointer;}
                h2:hover {color:#707070;}
                .kr_travel_box {
                    display:flex; flex-flow:column nowrap; align-items:center;
                    padding:10px 0; background:#fff; top:50px;
                    position:absolute; margin-right:10px;
                    border-radius:10px; z-index:9999;
                    box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                    //js
                    display:none;
                    a {padding:10px 20px; text-align:center;}
                    a:hover {background-color:#ededed; width:100%;}
                    a:last-child {margin-bottom:0;}
                }
            }
            .over_travel {
                display:flex; flex-flow:column nowrap; align-items:center;
                .prev {
                    border:1px solid #d9d9d9; padding:10px 15px;
                    border-radius: 10px; width: 140px;
                    display: flex; align-items: center; justify-content: space-between;
                    margin-right: 20px;
                    h2 {cursor:pointer;}
                    h2:hover {color:#707070;}
                    .down {
                        
                    }
                }
                .over_travel_box {
                    display:none; flex-flow:row nowrap;
                    background:#fff; top: 50px; right: 30px;
                    position:absolute; padding:8px;
                    border-radius:10px; z-index:9999;
                    box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                    width: 800px;
                    //공통
                    div {
                        h3 {
                            color:$mainColor-b; font-weight:$weight600;
                            margin-bottom:10px;
                        }
                    }
                    //개별
                    .japan {
                        margin:10px 10px 10px 20px; border-right:1px solid #d9d9d9;
                        h3 {padding-right:20px;}
                        .japan_detail {
                            display:flex; flex-flow:column nowrap;
                            a {padding:8px 16px 8px 0;}
                            a:hover {color:#707070;}
                        }
                    }
                    .asia {
                        margin:10px; border-right:1px solid #d9d9d9;
                        h3 {}
                        .asia_detail {
                            display:flex; flex-flow:row nowrap;
                            .left {
                                display:flex; flex-flow:column nowrap;
                                margin-right:20px;
                                a {padding:8px 16px 8px 0;}
                                a:hover {color:#707070;}
                            }
                            .right {
                                display:flex; flex-flow:column nowrap;
                                margin-right:4px;
                                a {padding:8px 16px;}
                                a:hover {color:#707070;}
                            }
                        }
                    }
                    .europe_us {
                        margin:10px;
                        h3 {}
                        .europe_us_detail {
                            display:flex; flex-flow:column nowrap;
                            a {padding:8px 16px 8px 0;}
                            a:hover {color:#707070;}
                        }
                    }
                }
            }
            .popular_search {
                margin-right:30px;
                display:flex; flex-flow:row nowrap;
                align-items:center;
                .search_container {
                    @include flex-rnsc;
                    width:100px; border:1px solid #d9d9d9; padding:0 5px 0;
                    position:relative; border-radius:10px;
                    .search_name {
                        display:flex; flex-flow:row nowrap;
                        align-items:center;
                        padding:10px;
                        a {}
                        a:hover {color:#707070;}
                        .search_list {
                            display:none; flex-flow:column nowrap;
                            align-items:center; background:#fff;
                            position:absolute; top:50px; width:100px; right:0;
                            padding:8px 0; border-radius:10px; z-index:9999;
                            box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                            a {padding:8px 16px; text-align:center;}
                            a:hover {background-color:#ededed; width:100%;}
                        }
                    }
                    .down {
                        i {margin-right:5px; cursor:pointer;}
                    }
                }
                // .search_container:hover .search_name .search_list {
                //     display: flex;
                // }
            }
            .mypage_warp_nonmember {
                position:relative;
                @include flex-rncc;
                .menu {
                    width:80px;
                    @include flex-rnsc; 
                    border:1px solid #d9d9d9; padding:5px 12px;
                    border-radius:50px;
                    i[class$=user] {
                        color:#fff; background-color:#d9d9d9;
                        border:15px solid #d9d9d9;
                        border-radius:50px;
                        width:24px; height:24px;
                        @include flex-rncc;
                    }
                }
                .m_menu {display: none;}
                .mypage_detail {
                    display:flex; flex-flow:column nowrap;
                    background:#fff; padding:8px 0;
                    position:absolute; top:50px; right: 0px;
                    z-index:9999;
                    border-radius:10px; width:150px;
                    box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                    //js
                    // display:none;
                    a {padding:8px 16px;}
                    a:hover {background-color:#ededed; width:100%;}
                    button {padding:8px 16px;}
                    button:hover {background-color:#ededed; width:100%;}
                }
            }
            .mypage_warp_member {
                position:relative;
                @include flex-rncc;
                //js
                display:none;
                .menu {
                    width:80px;
                    @include flex-rncc; 
                    border:1px solid #d9d9d9; padding:5px 10px;
                    border-radius:50px;
                    i {margin-left:5px;}
                    img {
                        width:30px; height:30px; margin-left:10px;
                        @include flex-rncc;
                    }
                }
                .mypage_detail {
                    display:flex; flex-flow:column nowrap;
                    background:#fff; padding:8px 0;
                    position:absolute; top:60px;
                    border-radius:10px; width:150px;
                    box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                    //js
                    display:none;
                    button {padding:8px 16px; text-align:left;}
                    button:hover {background-color:#ededed; width:100%;}
                }
            }
        }
    }
    .nav_wrap_m {
        position: fixed; top: 0; right: 0;
        width: 100%; height: 100vh; z-index: 99999;
        background-color: #fff;
        padding: 30px;
        transition: right 0.5s;
        .nav_bg_m {
            .nav_m {
                .top {
                    margin-bottom: 30px;
                    .close {
                        i[class$=xmark] {font-size: 1.5rem;}
                    }
                }
                .mypage_warp_nonmember_m {
                    // js
                    display: none;
                    .user {
                        display: flex; align-items: center;
                        margin-bottom: 30px;
                        .user_photo {
                            height: 64px; width: 64px;
                            background: url(../images/sprite/side_sprite1x.png);
                            margin-right: 20px;
                        }
                        .join_login {
                            .go_login {
                                span {font-size: $title20; font-family: $familyBold;}
                                i[class$=right] {
                                    color: #bdbdbd;
                                }
                            }
                            p {
                                font-size: $subC14; font-family: $familyBold;
                                background-color: #eeebff;
                                color: #6763e0;
                                margin-top: 10px;
                                padding: 3px; border-radius: 5px;
                            }
                        }
                    }
                    .benefit_detail_m {
                        display: flex; text-align: center;
                        border-radius: 10px;
                        border: 1px solid #ebebeb;
                        margin-bottom: 30px;
                        button {
                            display: block; width: 50%;
                            color: #999; font-size: $subC14;
                            padding: 15px 0;
                        }
                    }
                    .benefit_detail_m::after {
                        content: ''; width: 1px; height: 25px;
                        display: inline-block; background-color: #ebebeb;
                        position: relative; right: 220px; top: 10px;
                    }
                    .nav_detail_m {
                        a {
                            display: flex;
                            justify-content: space-between; align-items: center;
                            padding: 20px 0;
                            .left {
                                .sprite {
                                    display: inline-block;
                                    width: 24px; height: 24px;
                                    background: url(../images/sprite/side_sprite1x.png);
                                    position: relative; bottom: -5px;
                                    margin-right: 10px;
                                }
                                .sp1 {background-position: 48px 0px;}
                                .sp2 {background-position: 48px -24px;}
                                .sp3 {background-position: 0px -174px;}
                                .menu {font-family: $familySemiBold;}
                            }
                            .more {
                                i[class*=angle] {
                                    color: #bdbdbd;
                                }
                            }
                        }
                    }
                }
                .mypage_box_m {
                    .user {
                        display: flex; align-items: center;
                        margin-bottom: 30px;
                        > .link_info {
                            height: 64px; width: 64px;
                            background: url(../images/icon/ico_21.png);
                            background-size: contain;
                            margin-right: 20px;
                        }
                        .mypage_detail_m {
                            .link_info {
                                span {font-size: $title20; font-family: $familyBold;}
                                i[class$=right] {
                                    color: #bdbdbd;
                                }
                            }
                            p {
                                font-size: $subC14; font-family: $familyBold;
                                background-color: #eeebff;
                                color: #6763e0;
                                margin-top: 10px;
                                padding: 3px; border-radius: 5px;
                            }
                        }
                    }
                    .benefit_detail_m {
                        display: flex; text-align: center;
                        border-radius: 10px;
                        border: 1px solid #ebebeb;
                        margin-bottom: 30px;
                        button {
                            display: block; width: 50%;
                            color: #999; font-size: $subC14;
                            padding: 15px 0;
                        }
                    }
                    .nav_detail_m {
                        button {
                            display: flex;
                            justify-content: space-between; align-items: center;
                            padding: 20px 0; width: 100%;
                            .left {
                                .sprite {
                                    display: inline-block;
                                    width: 24px; height: 24px;
                                    background: url(../images/sprite/side_sprite1x.png);
                                    position: relative; bottom: -5px;
                                    margin-right: 10px;
                                }
                                .sp1 {background-position: 48px 0px;}
                                .sp2 {background-position: 48px -24px;}
                                .sp3 {background-position: 0px -175px;}
                                .sp4 {background-position: -50px -175px;}
                                .sp5 {background-position: -26px -175px;}
                                .menu {font-family: $familySemiBold;}
                            }
                            .more {
                                i[class*=angle] {
                                    color: #bdbdbd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .show {right: 0;}
    .fixed_btn {
        position:fixed; bottom:40px; right:40px;
        display:flex; flex-flow:column nowrap;
        align-items:center; z-index:9999;
        .top_btn_container {
            margin-bottom:10px;
            background-color:#f7323f; padding:10px 15px;
            border-radius:20px; 
            @include flex-rncc;
            .top_btn {
                i {margin-right:3px; color:#fff;}
                span {color:#fff; letter-spacing:1px;}
            }
        }
        .customer_container {
            .customer_btn {
            background-color:#f7323f; padding:10px 15px;
            border-radius:20px;
            @include flex-rncc;
                i {margin-right:8px; color:#fff;}
                span {color:#fff; letter-spacing:1px;}
            }
        }
    } 
    // 고정버튼 모바일
    .fixed_btn_m {
        position:fixed; bottom:20px; right:20px;
        display:flex; flex-flow:column nowrap;
        align-items:center; z-index:9999;
        display:none;
        .top_btn_container_m {
            margin-bottom:7px;
            background-color:#f7323f; padding:8px 10px;
            border-radius:50%; 
            @include flex-rncc;
            .top_btn_m {
                i {color:#fff;}
            }
        }
        .customer_container_m {
            .customer_btn_m {
            background-color:#f7323f; padding:10px;
            border-radius:50%;
            @include flex-rncc;
                i {color:#fff;}
            }
        }
    } 
    .chat_container {
        position: fixed; background-color: #fff;
        box-shadow:0px 2px 16px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        right: -100%; bottom: 150px;
        width: 350px; height: 500px;
        transition: right 0.5s;
        z-index: 9999;
        .top {
            position: absolute; right: 0; top: -50px;
            .catchprize {margin-right: 10px;}
            .close_btn {
                img {}
            }
        }
        .chat_wrap {
            padding: 20px;
            .chat_box {
                display: flex; flex-flow: column nowrap; align-items: flex-start;
                background-color:#feebec; border-radius: 10px;
                height: 410px;
                margin-bottom: 10px;
                padding: 20px;
                overflow-x: hidden; overflow-y:auto;
                justify-content:flex-end;
                .message {
                    max-width: 80%; width: max-content; padding: 10px 15px; border-radius: 20px;
                    margin-bottom: 10px; 
                }
                .ai_message {
                    align-self: flex-start;
                    background-color: #F7323F;
                    color: #fff;
                }
                .user_message {
                    background-color:#fff;
                    color: #5A5858;
                    align-self: flex-end;
                }
            }
            .send_wrap {
                display: flex; align-items: center; justify-content: space-between;
                #user_send_message {
                    display: block; width: 85%; 
                    background-color: #feebec;
                    padding: 10px; border-radius: 10px;
                    margin-bottom: 4px;
                }
                .chat_send_btn {
                    display: block;
                    img {}
                }
            }
        }
    }
    .show {
        right: 30px;
    }
}

@media screen and (max-width:1399px){
}
@media screen and (max-width:1200px){

}
@media screen and (max-width:900px){
    header {padding: 10px 20px; height:56px;}
    header .header_wrap {padding:10px 0;}
    header .header_wrap h1 a img {width:80px;}
    header .fixed_btn {display:none;}
    header .fixed_btn_m {display:block;}
    header .chat_container {bottom:60px;}
    .popular_search, .over_travel {display: none !important;}
    .mypage_warp_nonmember .menu {display: none !important;}
    .mypage_warp_nonmember .m_menu {display: block !important;}
    
}
@media screen and (max-width:600px){
}
@media screen and (min-width:320px){}