@import 'common';

main {
    max-width: $desktop;
    margin: 0 auto;
    section {
        width: 30%;
        margin: 200px auto 0;
        text-align: center;
        .photo {
            width: 55px; height: 55px; margin: 0 auto;
            background-color: #007aff; border-radius: 50%;
            margin-bottom: 20px;
            i[class$=check] {
                color: #fff; font-size: 2rem; line-height: 57px;
            }
        }
        h1 {
            font-size: $title20; font-family: $familyBold;
            color: #000;
            margin-bottom: 20px;
        }
        p {
            line-height: 24px; color: #c2c2c2;
            margin-bottom: 20px;
        }
        a {
            display: block;
            width: 148px; height: 48px; background-color: $mainColor-b;
            margin: 0 auto; line-height: 48px; border-radius: 10px;
            color: #fff; font-family: $familyBold;
        }
    }
}