@import 'common';

main {
    .main_container {
        // background-color:pink;
        .main_wrap {
            width:1400px; margin:0 auto;
            position:relative;
            h1 {
                font-size:$title32;
                font-weight:$weight700; color:$mainColor-w;
                line-height:1.4;
                letter-spacing:1.7px;
                position:absolute; top:210px;
            }
            .search_wrap {
                background-color:#fff; width:100%;
                position:absolute; top:320px;
                border-radius:15px;
                #search_frm {
                    fieldset {
                        .search_tap {
                            @include flex-rnfc;
                            border-bottom:1px solid #f5f5f5;
                            padding:25px 20px 0;
                            h2 {
                                #kr_room {
                                    padding:0 10px 18px; margin-right:20px;
                                    color:$mainColor-r;
                                    border-bottom:2px solid $mainColor-r;
                                    font-weight: $weight600; letter-spacing:0.5px;
                                }
                            }
                            h2 {
                                #over_room {
                                    padding:0 10px 18px;
                                    color:#999;
                                    // color:$mainColor-r;
                                    // border-bottom:2px solid $mainColor-r;
                                    // font-weight: $weight600; letter-spacing:0.5px;
                                }
                            }
                        }
                        .user_search_box {
                            @include flex-rnsc;
                            padding:20px;
                            .user_search_detail {
                                background-color:#f5f5f5;
                                border-radius:10px;
                                padding:4px 14px; margin-right:10px;
                                width:450px; height:48px;
                                position:relative;
                                .user_search {
                                    i {color:#999;}
                                    #search_input {padding:10px; width:95%;}
                                    #search_input::placeholder {color:#d6d6d6;}
                                }
                            }
                            .search_ranking {
                                //js
                                display:none;
                                background-color:#fff; border-radius:10px;
                                box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                                padding:30px; width:100%;
                                position:absolute; top:55px; left:0;
                                h3 {margin-bottom:20px; font-weight:$weight600; color:$mainColor-r;}
                                ol {
                                    li {
                                        padding:10px 0;
                                        display:flex; flex-flow:row nowrap;
                                        justify-content: flex-start;
                                        align-items:center;
                                            em {font-weight:$weight600; width:30px;}
                                            span {}
                                        }
                                    li:last-child {padding-bottom:0;}
                                    }
                                }
                            }
                            .user_search_service {}
                        }
                        .calendar_detail {
                            @include flex-rncc;
                            .calendar_date {
                                display:flex; align-items:center;
                                background-color:#f5f5f5;
                                border-radius:10px;
                                padding:4px 14px; margin-right:10px;
                                width:400px; height:48px;
                                i {color:#999; margin-right:10px;}
                                span {font-weight: $weight600; letter-spacing:0.5px;}
                            }
                            .date_select {
                                display:none;
                            }
                        }
                        .num_detail {
                            @include flex-rncc;
                            position:relative;
                            .num_view {
                                #num_select {
                                    display:flex; align-items:center;
                                    background-color:#f5f5f5;
                                    border-radius:10px;
                                    padding:4px 14px; margin-right:10px;
                                    width:350px; height:48px;
                                    i {color:#999; margin-right:10px;}
                                    //공통
                                    span {
                                        font-weight: $weight600; letter-spacing:0.5px;
                                        span {font-weight: $weight600; letter-spacing:0.5px;}
                                    }
                                    //개별
                                    span {
                                        .room_num {}
                                    }
                                    span {
                                        .adult_num {}
                                    }
                                    span {
                                        .children_num {}
                                    }
                                }
                            }
                            .user_select {
                                background-color:#fff; border-radius:10px;
                                box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                                padding:0 20px; width:100%;
                                position:absolute; top:55px; left:0;
                                //js
                                // display:none;
                                //공통
                                div {
                                    display:flex; justify-content:space-between;
                                    align-items:center;
                                    padding:10px 5px;
                                    h3 {}
                                    p {font-size:$small13; color:#999;}
                                    div {
                                        display:flex; 
                                        button {
                                            i {
                                                font-size:30px; color:#fff;
                                                border-radius:50%;
                                                border:1px solid #d6d6d6; background-color:#333;
                                            }
                                        }
                                        span {padding:10px 20px; font-size:1.25rem;}
                                    }
                                }
                                //개별
                                .user_room {
                                    border-bottom:1px solid #d6d6d6;
                                    h3 {padding:10px 5px;}
                                    .user_room_select {
                                        .num_minus {
                                            i {background-color:#d6d6d6; color:#f5f5f5;}
                                        }
                                        .user_room_num {}
                                        .num_plus {
                                            i {}
                                        }
                                    }
                                }
                                .user_adult_left {
                                    padding-bottom:0;
                                    .user_adult {
                                        display:flex; flex-flow:column nowrap;
                                        align-items:flex-start;
                                        h3 {}
                                        p {}
                                    }
                                    .user_adult_select {
                                        .num_minus {
                                            i {}
                                        }
                                        .user_adult_num {}
                                        .num_plus {
                                            i {}
                                        }
                                    }
                                }
                                .user_children_left {
                                    border-bottom:1px solid #d6d6d6;
                                    .user_children {
                                        display:flex; flex-flow:column nowrap;
                                        align-items:flex-start;
                                        h3 {margin-bottom:5px;}
                                        p {}
                                    }
                                    .user_children_select {
                                        .num_minus {
                                            i {}
                                        }
                                        .user_children_num {}
                                        .num_plus {
                                            i {}
                                        }
                                    }
                                }
                                .children_notice {
                                    background-color:#f5f5f5;
                                    padding:15px; margin:20px 0;
                                    border-radius:5px;
                                    ul {
                                        li {font-size:$small12;}
                                    }
                                }
                                .children_age {
                                    margin-bottom:10px;
                                    //js
                                    display:none;
                                    .user_children_num {}
                                    .user_children_age {
                                        border:1px solid #f5f5f5;
                                        border-radius:10px;
                                        padding:10px 15px; width:140px;
                                        @include flex-rnsc;
                                        position:relative;
                                        background-color:#f5f5f5;
                                        span {}
                                        i {}
                                        .children_age_select {
                                            width:140px; height:160px; overflow:auto;
                                            background-color:#fff; border-radius:10px;
                                            box-shadow:0px 2px 16px rgba(0, 0, 0, 0.08);
                                            display:flex; flex-flow:column nowrap;
                                            align-items:flex-start;
                                            position:absolute; top:-170px; right:0px;
                                            //js
                                            display:none;
                                            span {font-size:$subT15;}
                                        }
                                    }
                                }
                            }
                        }
                        .search_btn {
                            #search_btn {
                                @include flex-rncc;
                                background-color:$mainColor-r;
                                border-radius:10px; color:#fff;
                                padding:4px 14px;
                                width:120px; height:48px;
                            }
                        }
                    }
                }
            }
        }
        .main_bg {
            background-image:url(https://images.unsplash.com/photo-1517479149777-5f3b1511d5ad?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-position:center; background-size: cover;
            height:530px;
        }
    }