@import 'common';

main {
    width:1400px; margin:0 auto;
    .top {
        @include flex-rnfc;
        margin:40px 0 20px;
        a {
            margin-right:20px;
            i {font-size:20px;}
        }
        h1 {font-size:$title24; font-family:PretendardSemiBold;}
    }
    .container {
        #pay_frm {
            fieldset {
                width:100%;
                display:flex; justify-content:space-between;
                .wrap_left {
                    width:100%; margin-right:40px;
                    .user_info_box {
                        h2 {
                            font-size:$title18; font-family:PretendardMedium;
                            margin:16px 0;
                        }
                        div {
                            h3 {
                                font-size:$small13; color:#707070;
                                margin-bottom:5px;
                            }
                            .input_box_name {
                                @include flex-rnsc; width:340px; height:48px;
                                background-color:#f5f5f5; border-radius:8px;
                                border:1.5px solid #f5f5f5;
                                padding:0 15px;
                                #user_name {padding-right:100px;}
                                #user_name::placeholder {color:#bdbdbd;}
                                .reset {
                                    //js
                                    display:none;
                                    i {color:#707070;}
                                }
                            }
                            // .input_box:hover {background-color:#eeeeee;}
                            .error_border {
                                //js
                                border: 1.5px solid #f45858;
                            }
                            .error_message {
                                color: $subColor-r; font-size:$small12;
                                margin:5px 0 20px;
                                //예약자 이름을 입력해주세요.
                                //이름은 2자 이상 입력해주세요.
                            }
                        }
                        //로그인 했을시
                        .user_phone_detail_m {
                            //js
                            display:none;
                            .input_box_num {
                                @include flex-rnsc; width:340px; height:48px;
                                background-color:#f5f5f5; border-radius:8px;
                                border:1.5px solid #f5f5f5;
                                padding:0 15px; margin-bottom:5px;
                                #user_phone_m {padding-right:80px;}
                                #user_phone_m::placeholder {color:#bdbdbd;}
                                .reset {
                                    //js
                                    // display:none;
                                    i {color:#707070;}
                                }
                            }
                            // .input_box:hover {background-color:#eeeeee;}
                            .error_border {
                                //js
                                border: 1.5px solid #f45858;
                            }
                            .error_message {
                                color: $subColor-r; font-size:$small12;
                                margin:5px 0 20px;
                                //js
                                display:none;
                                //예약자 이름을 입력해주세요.
                                //이름은 2자 이상 입력해주세요.
                            }
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                            }
                            p {font-size:$small13; color:#999;}
                        }
                        //로그인 안했을시
                        .user_phone_detail_n {
                            //js
                            // display:none;
                            .input_box_num {
                                @include flex-rnsc; width:340px; height:48px;
                                margin-bottom:5px;
                                .input_detail {
                                    @include flex-rnsc; width:215px; height:48px;
                                    background-color:#f5f5f5; border-radius:8px;
                                    border:1.5px solid #f5f5f5; padding:0 15px;
                                    #user_phone_n {width:160px;}
                                    #user_phone_n::placeholder {color:#bdbdbd;}
                                    .reset {
                                        //js
                                        display:none;
                                        i {color:#707070;}
                                    }
                                }
                                .confirm_num {
                                    width:115px; height:48px;
                                    border:1.5px solid #dfdfdf;
                                    border-radius:8px;
                                    @include flex-rncc;
                                    button {font-family:PretendardMedium;}
                                }
                                .confirm_num:hover {background-color:#f5f5f5;}
                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }
                            }
                            .error_message {
                                color: $subColor-r; font-size:$small12;
                                //js
                                display:none;
                                //휴대폰 번호를 입력해주세요.
                                //휴대폰 번호를 확인해주세요.
                            }
                            p {font-size:$small13; color:#999;}
                        }
                    }
                    //로그인 했을 시
                    .sale_box {
                        h2 {
                            font-size:$title18; font-family:PretendardMedium;
                            margin:16px 0;
                        }
                        .coupon {
                            margin-bottom:15px;
                            h3 {
                                font-size:$small13; color:#707070;
                                margin-bottom:5px;
                            }
                            .input_box {
                                display:flex;
                                #coupon_num {
                                    @include flex-rnsc; width:340px; height:48px;
                                    background-color:#f5f5f5; border-radius:8px;
                                    border:1.5px solid #f5f5f5;
                                    padding:0 15px; margin:0px 10px 5px 0;
                                }
                                #coupon_num::placeholder {color:#dfdfdf;}
                                .amount_check {
                                    font-family:PretendardMedium;
                                    height:48px; padding:0 18px;
                                    border:1.5px solid #dfdfdf;
                                    border-radius:8px;
                                }
                            }
                            p {font-size:$small12;}
                        }
                        .voucher {
                            h3 {
                                font-size:$small13; color:#707070;
                                margin-bottom:5px;
                            }
                            div {
                                display:flex;
                                #amount_num {
                                    @include flex-rnsc; width:340px; height:48px;
                                    background-color:#f5f5f5; border-radius:8px;
                                    border:1.5px solid #f5f5f5;
                                    padding:0 15px; margin:0px 10px 5px 0;
                                }
                                #amount_num::placeholder {color:#dfdfdf;}
                                .amount_check {
                                    font-family:PretendardMedium;
                                    height:48px; padding:0 18px;
                                    border:1.5px solid #dfdfdf;
                                    border-radius:8px;
                                }
                            }
                        }
                        .popup_bg {
                            //js
                            display:none;
                        }
                        .voucher_bg {
                            //js
                            display:none;
                        }
                    }
                    //로그인 안했을 시
                    .login_bnr {
                        width:100%; height:80px;
                        background-image:url(../images/pay/login_banner.svg);
                        background-size:cover; 
                        border-radius:12px; padding:0 32px;
                        display:flex;
                        a {
                            width:100%;
                            @include flex-rnsc;
                            span {
                                font-size:$title20; color:#fff;
                                font-family:$familyMedium;
                                em {
                                    font-size:$title20; color:#ffdca7;
                                    font-family:$familyMedium;
                                }
                            }
                            i {font-size:$title20; color:#fff;}
                        }
                    }
                    .payment_box {
                        h2 {}
                        .benefit {
                            em {}
                        }
                        ul {
                            li {
                                img {}
                            }
                        }
                        .user_setting {
                            label {
                                #keep_payment {}
                            }
                        }
                        .benefit {
                            .benefit_kakaopay {}
                        }
                    }
                }
                .wrap_right {
                    width:340px;
                    .right_top {
                        margin:0 auto; border:1px solid #ebebeb;
                        border-radius:12px; padding:0 24px; background-color:#fff;
                        margin-bottom:24px;
                        .cancell_notice {
                            background-color:$mainColor-b;
                            width:290px; height:40px; margin-top:20px;
                            border-radius:10px; padding:12px;
                            @include flex-rnfc;
                            i {color:$mainColor-w; font-size:$subC14; margin-right:10px;}
                            span {
                                color:$mainColor-w; font-size:$subC14;
                                font-family:$familyMedium;
                            }
                        }
                        h2 {
                            font-size:$title18; font-family:$familyBold;
                            padding:16px 0;
                        }
                        .room_img {
                            margin-bottom:10px;
                            img {width:100%; height:116.8px; border-radius:10px;}
                        }
                        .room_info {
                            margin-bottom:20px;
                            display:flex; flex-flow:column nowrap;
                            dl {
                                display:flex; flex-flow:row nowrap;
                                dt {
                                    color:#bdbdbd; font-size:$subC14;
                                    margin-bottom:15px; width:75px;
                                    line-height:1.5;
                                }
                                dd {
                                    display:flex; flex-flow:column nowrap;
                                    font-size:$subC14; margin-bottom:15px;
                                    line-height:1.5;
                                }
                            }
                        }
                    }
                    .right_bottom {
                        margin:0 auto; border:1px solid #ebebeb;
                        border-radius:12px; padding:8px 24px 24px; background-color:#fff;
                        h2 {
                            font-size:$title18; font-family:$familyBold;
                            padding:16px 0; margin-bottom:4px;
                        }
                        .payment_amount {
                            margin-bottom:20px; border-bottom:1px solid #bdbdbd;
                            display:flex; flex-flow:column nowrap;
                            dl {
                                @include flex-rnsc;
                                margin-bottom:20px;
                                dt {color:#999; font-size:$subC14;}
                                dd {font-size:$subC14; color:#999;
                                    em {font-size:$subC14; font-family:$familySemiBold;}
                                }
                            }
                            em {}
                        }
                        .all_payment {
                            margin-bottom:30px;
                            dl {
                                @include flex-rnsc;
                                margin-bottom:12px;
                                dt {font-size:$subC14;}
                                dd {font-size:$title20; color:$mainColor-r; font-family:$familyBold;}
                            }
                        }
                        .agree {
                            background-color:#f5f5f5;
                            width:290px; height:40px;
                            border-radius:10px; padding:12px;
                            margin:13px 0;
                            @include flex-rnsc;
                            label {
                                display:flex;
                                .user_agree {margin-right:10px;}
                                span {font-size:$subC14;}
                            }
                            i {font-size:$subC14;}
                        }
                        .agree_contents {
                            //js
                            // display:none;
                            width:290px; 
                            div {
                                padding:8px;
                                @include flex-rnsc;
                                label {
                                    display:flex;
                                    .user_agree {margin-right:10px;}
                                    span {font-size:$subC14;}
                                }
                                i {font-size:$subC14; color:#bdbdbd}
                            }
                            .third {margin-bottom:12px;}
                        }
                        .pay_btn_box {
                            background-color:$mainColor-b;
                            width:290px; height:40px;
                            border-radius:10px; padding:12px;
                            @include flex-rncc;
                            #pay_btn {color:$mainColor-w; font-family:$familyMedium;}
                        }
                    }
                }
            }
        }
    }
}