/* 메인 반응형 */

/* html * {transition: all 1s;} */
.search_small {display:none;}
.main_container {height:530px;}

/* body, html {max-width:1400px;} */

@media screen and (max-width:1399px){
    main {max-width:1400px;}
    .search_small {display:none;}
}
@media screen and (max-width:1199px){
    main {max-width:1200px;}
    .search_small {display:none;}
    .calendar_date span {white-space:nowrap;}
    .calendar_date .total_night {display:none;}
    .num_view #num_select span {white-space:nowrap;}
}
@media screen and (max-width:900px){
    main {max-width:900px;}
    .search_big {display:none;}
    .search_small {display:block;}
    /* main .center_container .kr_hot_travel_wrap .kr_travel_box .kr_travel_detail .swiper-slide .kr_travel {
        width:calc(100% / 5);
        margin-left:10px;
    } */
    .main_container {height:260px;}
    .box_btn {display:none;}
}
@media screen and (max-width:600px){
}