@import 'common';

main {
    max-width: $desktop;
    margin: $margin0;
    section {
        width: 1400px;
        margin: $margin0;
        padding-top: 30px;
        #result_frm {
            .search_top {
                display: flex; flex-flow: row nowrap;
                justify-content: space-between; align-items: flex-end;
                margin-bottom: 10px;
                h1 {
                    font-size: $title24;
                    font-weight: 800;
                }
                .filter {
                    position: relative;
                    .now {
                        font-size: $subC14;
                        font-weight: $weight600;
                        cursor: pointer;
                        i[class*=arrow] {
                            @extend .prev;
                            margin-right: 10px;
                        }
                    }
                    .open {
                        position: absolute; right: 0; top: 23px;
                        background-color: $mainColor-w;
                        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
                        border-radius: 10px;
                        padding: 5px 20px;
                        button {
                            width: 150px; padding: 10px 0;
                            @include flex-rnsc;    
                            span {display: block; font-size: $subC14;
                            }
                            i[class$=check] {display: none;}
                        }
                        .active {
                            span {color: $mainColor-b;}
                            i[class$=check] {
                                color: $mainColor-b;
                                display: block;
                            }
                        }
                    }
                }
            }
            .result {
                display: flex; justify-content: space-between;
                input {display: none;}
                .filter_container {
                    width: calc(25% - 20px);
                    // 전체선택자
                    div {
                        h3 {font-weight: $weight600; margin-bottom: 25px;}
                        .contents {font-size: $subT15;}
                    }
                    fieldset {
                        .top {
                            margin-bottom: 30px;
                            .map_container {
                                margin-top: 25px;
                                .prev {
                                    width: 100%; height: 190px;
                                    background-image: url(../images/search/thumbnail_map.74bb1588.png);
                                    background-size: contain;
                                    border-radius: 20px;
                                    line-height: 190px; text-align: center;
                                    a {
                                        color: $mainColor-w;
                                        background-color: $mainColor-b;
                                        border-radius: 10px; width: 128px; height: 40px;
                                        line-height: 40px; text-align: center;
                                        display: inline-block;
                                        font-size: $subC14; font-weight: $weight600;
                                    }
                                }
                                .open_bg {
                                    background-color: rgba(0, 0, 0, 0.5);
                                    position: fixed; width: 100%; height: 100vh;
                                    top: 0; left: 0; z-index: 99;
                                    display: flex; flex-flow: column nowrap; justify-content: center;
                                    .open {
                                        width: 95%; height: 90vh;
                                        background-color: $mainColor-w;
                                        margin: 0 auto; border-radius: 20px;
                                        .title {
                                            padding-bottom: 20px;
                                            .back_btn {position: relative; left: 20px; top: 20px;
                                            font-size: 25px;}
                                            h1 {text-align: center; font-weight: $weight600;}
                                        }
                                        .contents {
                                            width: 100%;
                                            background-color: yellow;
                                            .left {
                                                width: 30%;
                                                display: flex;
                                                .open_filter {
                                                    width: 50%;
                                                    background-color: lightgreen;
                                                }
                                                .result_list {
                                                    width: 50%;
                                                    background-color: lightgrey;
                                                    .room {
                                                        display: block;
                                                        background-color: lightcoral;
                                                    }
                                                }
                                            }
                                            #map {
                                                width: 70%;
                                                background-color: lightcoral;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        // 좌측 필터
                        .filter > div {padding: 20px 0; border-bottom: 1px solid #e9e9e9}
                        .filter {
                            position: sticky; top: 0;
                            .top {
                                border-bottom: 0;
                                padding-bottom: 0;
                                @include flex-rnsc;
                                h2 {font-size: $title18; font-weight: $weight600;}
                                a {
                                    font-size: $subC14; color: #d6d6d6;
                                    i[class$=right] {margin-right: 5px;}
                                }
                            }
                            .soldout {
                                transform: translateX(-7px);
                                #soldout_chk {}
                            }
                            .type {
                                h3 {}
                                .contents {
                                    label {
                                        display: flex; align-items: center;
                                        margin-bottom: 20px;
                                        span {display: inline-block;}
                                        .circle {
                                            border: 1px solid #999;
                                            border-radius: 50%;
                                            width: 18px; height: 18px;
                                            margin-right: 10px;
                                            cursor: pointer;
                                        }
                                        input[type=radio] {display: none;
                                        }
                                        input:checked + .circle {
                                            background-color: $mainColor-b;
                                            border-color: $mainColor-b;
                                            animation: popup 0.1s;
                                        }
                                    }
                                }
                            }
                            .price_range {
                                h3 {
                                    span {
                                        color: #999;
                                        font-size: $small12;
                                        margin-left: 5px;
                                    }
                                }
                            }
                            .taste, .discount, .rank {
                                h3 {}
                                .chk_wrap {
                                    label {
                                        span {
                                            border: 1.5px solid #d9d9d9;
                                            display: inline-block;
                                            border-radius: 20px; padding: 7px 16px;
                                            margin-right: 5px; margin-bottom: 10px;
                                            font-size: $small13; font-weight: $weight600;
                                            cursor: pointer;
                                        }
                                        span:hover {background-color: #F5F5F5;}
                                        input[type=checkbox]:checked + span {
                                            color: $mainColor-b;
                                            border-color: #BAD7F6;
                                            background-color: #F2F8FF;
                                        }
                                    }
                                }
                            }
                            .reservation {
                                div {transform: translateX(-7px);}
                            }
                            .facility {
                                h3 {}
                                .contents {
                                    dt {
                                        color: #9aa9b8;
                                        font-weight: $weight600; font-size: $subT15;
                                        margin-bottom: 10px;
                                    }
                                    dd {
                                        margin-bottom: 20px;
                                        label {
                                            span {
                                                border: 1.5px solid #d9d9d9;
                                                display: inline-block;
                                                border-radius: 20px; padding: 7px 16px;
                                                margin-right: 5px; margin-bottom: 10px;
                                                font-size: $small13; font-weight: $weight600;
                                                cursor: pointer;
                                            }
                                            span:hover {background-color: #F5F5F5;}
                                            input[type=checkbox]:checked +  span {
                                                color: $mainColor-b;
                                                border-color: #BAD7F6;
                                                background-color: #F2F8FF;
                                            }
                                        }
                                    dd:last-child {margin-bottom: 0;}
                                    }
                                }
                            }
                        }
                    }
                }
                #room_container {
                    width: calc(75% - 20px);
                    .page_wrap {
                        .page {
                            display: flex; flex-flow: column nowrap;
                            justify-content: flex-start;
                            .room {
                                display: flex; flex-flow: row nowrap;
                                justify-content: space-between;
                                padding: 25px 0;
                                border-bottom: 1px solid #eee;
                                .photo {
                                    width: calc(45% - 10px); height: 270px;
                                    border-radius: 20px;
                                    background: url(../images/search/accommodation1.jpeg);
                                    background-size: cover;
                                }
                                .contents {
                                    width: calc(55% - 10px);
                                    display: flex; flex-flow: column nowrap;
                                    justify-content: space-between;
                                    .title_wrap {
                                        .type {
                                            font-size: 0.688rem;
                                            margin-bottom: 2px;
                                        }
                                        .title {
                                            .special {}
                                            .name {
                                                font-size: $title18;
                                                font-weight: $weight600;
                                                margin-bottom: 5px;
                                            }
                                        }
                                        .location {
                                            margin-bottom: 3px;
                                            .city {
                                                font-size: $small13;
                                                color: #707070;
                                            }
                                            .more {
                                                font-size: $small13;
                                                color: #999;
                                            }
                                        }
                                        .review {
                                            .point_wrap {
                                                font-size: $small12;
                                                background-color: #ffad0a; border-radius: 5px;
                                                padding: 4px;
                                                font-weight: $weight600;
                                                display: inline-block;
                                                margin-right: 3px;
                                                i[class$=star] {
                                                    font-size: $small12;
                                                    margin-right: 3px;
                                                }
                                            }
                                            .comment {
                                                color: #707070;
                                                font-size: $small13;
                                            }
                                        }
                                    }
                                    .price_info {
                                        text-align: right;
                                        .coupon {
                                            font-size: $small13;
                                            color: #999;
                                        }
                                        .price {
                                            .origin {
                                                display: block;
                                                text-decoration: line-through;
                                                color: #999; font-size: $small13;
                                            }
                                            .now {
                                                font-size: $title20;
                                                font-weight: $weight600;
                                                .won {
                                                    @extend .now
                                                }
                                                .day {
                                                    font-size: $small13;
                                                }
                                            }
                                        }
                                        .info {
                                            margin-top: 5px;
                                            color: $subColor-r; font-size: $small11;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagination {
                        background-color: chartreuse;
                        .prev {}
                        .num {}
                        .next {}
                    }
                    }
            }
            .theme_keyword {
                width: 100%; margin-top: 60px;
                dt {font-size: $title18; font-weight: $weight600; margin-bottom: 20px}
                dd {
                    @include flex-rwsc;
                    a {width:calc(100% / 4); margin-bottom: 15px; color: $mainColor-b; font-size: $subC14; font-weight: $weight600;}
                    margin-bottom: 30px;
                }
            }
        }
    }
}
    

@keyframes popup {
    0% {scale: 0.2;}
    100% {scale: 1;}
}