@import 'common';

main {
    max-width: $desktop;
    margin: $margin0;
    section {
        width: 1400px; background-color: burlywood;
        margin: $margin0;
        #result_frm {
            .result {
                @include flex-rnsc;
                .filter_container {
                    width: 20%;
                    fieldset {
                        .top {
                            h1 {
                                font-size: $title24;
                                font-weight: 700;
                            }
                            .map_container {
                                .prev {
                                    a {}
                                }
                                .open {
                                    .left {
                                        .filter {}
                                        .result {}
                                    }
                                    #map {}
                                }
                            }
                        }
                        .filter {
                            .top {
                                h2 {font-size: $title18;}
                                a {}
                                p {
                                    #soldout {}
                                }
                            }
                            .type {
                                h3 {}
                                .contents {
                                    label {
                                        input {}
                                    }
                                }
                            }
                        }
                        .price_range {
                            h3 {
                                span {}
                            }
                        }
                        .taste {}
                    }
                }
                #room_container {
                    width: 80%;
                    .page_wrap {
                        .page {
                            li {
                                .room {
                                    .photo {
                                        img {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .theme_keyword {
            width: 100%;
            dt {}
            dd {}
        }
    }
}